#container {
    width: 96%;
    height: 550px;
    border-radius: 70px;
    box-shadow: 5px 5px 30px #695151;
    background-image: url("./pics/cards/bg1.jpg");
    background-size: cover;
}

#BackDiv {
    position: absolute;
    top: 1680px;
    height: 650px;
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.767);
    align-items: center;
    border-radius: 70px;
    box-shadow: 5px 5px 20px #695151;

}

.topmodels {
    height: 60px;
    width: 100%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: black;
    background-color: #adb0b4;
    box-shadow: 5px 5px 20px #695151;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;
}

.alignItems {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#box {
    margin-top: 60px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: inline-block;

}

#box:hover {
    transition: background-color 0.60s ease;
    box-shadow: 5px 5px 20px #8dbdc9;
}

.imageSize {
    height: 400px;
}

#cardSlider {
    width: 70%;
    height: 500px;

}

#mainDiv {

    display: flex;
    justify-content: center;
}